requests_mock==1.4.0
pytest-cov==2.5.1
httmock==1.2.3
lockfile==0.10.2
coverage==3.7.1
mock==1.0.1
pytest-flask==0.8.1
moto==0.4.5
sphinxcontrib-httpdomain==1.3.0
codacy-coverage
Sphinx==1.6.5
sphinx_rtd_theme
-e git+https://github.com/uc-cdis/storage-client.git@0.1.6#egg=storageclient
-e git+https://github.com/uc-cdis/cdis-python-utils.git@0.2.2#egg=cdispyutils
