authutils==3.1.1
boto==2.36.0
cryptography==2.3
git+https://git@github.com/uc-cdis/dictionaryutils.git@chore/py3#egg=dictionaryutils
envelopes==0.4
Flask==1.1.1
flask-cors==3.0.3
Flask-SQLAlchemy-Session==1.1
fuzzywuzzy==0.6.1
gen3authz==0.2.1
graphene==2.0.1
jsonschema==2.5.1
lxml==3.8.0
pbr==2.0.0
psycopg2==2.7.3.2
python-keystoneclient==1.8.1
PyYAML==5.1
requests==2.22.0
setuptools==30.1.0
six==1.12.0
simplejson==3.8.1
sqlalchemy==1.3.5
Werkzeug==0.16.0
xmltodict==0.9.2
more-itertools==5.0.0
git+https://git@github.com/uc-cdis/cdis_oauth2client.git@chore/py3#egg=cdis_oauth2client
cdispyutils==0.2.13
git+https://git@github.com/uc-cdis/datamodelutils.git@chore/py3#egg=datamodelutils
git+https://git@github.com/NCI-GDC/psqlgraph.git@release/py3#egg=psqlgraph
# required for gen3datamodel, not required for sheepdog
git+https://git@github.com/uc-cdis/cdiserrors.git@0.1.2#egg=cdiserrors
git+https://git@github.com/uc-cdis/cdislogging.git@master#egg=cdislogging
git+https://git@github.com/NCI-GDC/cdisutils.git@f54e393c89939b2200dfae45c6235cbe2bae1206#egg=cdisutils
git+https://git@github.com/uc-cdis/datadictionary.git@chore/py3#egg=gen3dictionary
git+https://git@github.com/uc-cdis/gdcdatamodel.git@chore/py3#egg=gen3datamodel
git+https://git@github.com/uc-cdis/indexclient.git@1.6.2#egg=indexclient
git+https://git@github.com/uc-cdis/storage-client.git@0.1.7#egg=storageclient
