boto==2.46.1
cryptography==2.0.3
Flask-Cors==1.9.0
Flask-SQLAlchemy-Session==1.1
Flask==0.10.1
fuzzywuzzy==0.6.1
graphene==0.10.2
jsonschema==2.5.1
lxml==3.8.0
PyYAML==3.12
requests==2.5.2
setuptools==36.3.0
simplejson==3.8.1
sphinx_rtd_theme
sqlalchemy==0.9.9
-e git+https://git@github.com/NCI-GDC/psqlgraph.git@4fbeddeb058ad09741c5d2b9aacbd1c63cfc3dd1#egg=psqlgraph
-e git+https://git@github.com/uc-cdis/cdis-python-utils.git@0.1.5#egg=cdispyutils
-e git+https://git@github.com/uc-cdis/userdatamodel.git@f25f5dfb356e80c45153ffd3e91b399be672a81c#egg=userdatamodel
-e git+https://git@github.com/uc-cdis/cdis_oauth2client.git@0.1.1#egg=cdis_oauth2client
-e git+https://git@github.com/uc-cdis/gdcdatamodel.git@44108de7b5aaabc33db6f39dda5130e1c2e0a3f6#egg=gdcdatamodel
