requests_mock==1.4.0
boto>=2.36.0,<3.0.0
psycopg2==2.7.3.2
cryptography>=2.1.2,<3.0.0
Flask-Cors==1.9.0
Flask-SQLAlchemy-Session==1.1
Flask==0.10.1
fuzzywuzzy==0.6.1
graphene==0.10.2
jsonschema==2.5.1
lxml==3.8.0
requests>=2.5.2,<3.0.0
PyYAML==3.11
setuptools==36.3.0
simplejson==3.8.1
sqlalchemy==0.9.9
-e git+https://git@github.com/NCI-GDC/signpost.git@c5d499936943e71eefe2ec4b3d4ced6ac48f35c0#egg=signpost
#-e git+https://git@github.com/NCI-GDC/psqlgraph.git@1.2.0#egg=psqlgraph
-e git+https://git@github.com/NCI-GDC/psqlgraph.git@54c9f58c38ce321757ca28cfe3a42994c87719bd#egg=psqlgraph
-e git+https://git@github.com/uc-cdis/cdis-python-utils.git@0.1.5#egg=cdispyutils
-e git+https://git@github.com/uc-cdis/userdatamodel.git@f25f5dfb356e80c45153ffd3e91b399be672a81c#egg=userdatamodel
-e git+https://git@github.com/uc-cdis/cdis_oauth2client.git@0.1.1#egg=cdis_oauth2client
-e git+https://git@github.com/uc-cdis/indexclient.git@d49134f4626b69a8ef02c189ed0047ad1a635cb0#egg=indexclient
-e git+https://git@github.com/uc-cdis/dictionaryutils.git@1.1.0#egg=dictionaryutils
-e git+https://git@github.com/uc-cdis/datamodelutils.git@0.2.0#egg=datamodelutils
